[user]
	name = liforra
	email = git@liforra.de
	signingkey = 723D4DC2FD70078D
[commit]
	gpgsign = true
[core]
	editor = nvim
	autocrlf = input
[color]
	ui = auto
[credential]
	credentialStore = secretservice
	helper = /usr/bin/git-credential-manager
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://codeberg.org"]
	provider = generic
	authtype = oauth
[credential "https://exitech.uber.space"]
	provider = generic
	authtype = oauth
