* {
  font-family: 'SF Pro Text', 'Inter', 'NotoSans Nerd Font', sans-serif;
  font-size: 13px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  font-weight: 500;
}

#workspaces, #custom-uptime, #cpu, #clock, #custom-pomodoro, #tray, #bluetooth, #pulseaudio, #backlight, #network, #battery {
  background-color: #1a1b26;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
}

#workspaces {
  border-radius: 6px;
  margin-left: 7px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-uptime, #cpu, #clock, #custom-pomodoro {
  border-radius: 6px;
  margin-right: 5px;
}

#tray {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-left: 0px;
}

#battery {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 7px;
}

#workspaces button {
  color: #babbf1;
  padding: 0 6px;
  background: transparent;
}

#workspaces button.active {
  color: #99d1db;
}

#workspaces button.persistent {
  color: rgba(186, 187, 241, 0.3); /* Leicht transparent für leere Workspaces */
}

#clock { color: #99d1db; }
#custom-uptime { color: #babbf1; }
#cpu { color: #c6d0f5; }
#bluetooth.connected { color: #99d1db; }
