@import "mocha.css";

* {
  font-family: NotoSans Nerd Font;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: @crust;
  color: @text;
  border-radius: 14px;
}

#workspaces {
  background: @surface0;
  margin: 6px;
  border-radius: 12px;
}

#workspaces button {
  color: @lavender;
  border-radius: 12px;
  padding: 3px;
}

#workspaces button.active {
  color: @pink;
}

#workspaces button:hover {
  color: @pink;
}

#custom-music,
#clock,
#tray,
#cpu,
#memory,
#battery,
#pulseaudio {
  background: @surface0;
  margin: 6px 0;
  padding: 0 12px;
  border-radius: 12px;
}

#custom-music {
  color: @yellow;
}

#tray {
  margin-right: 6px;
}

#cpu {
  color: @blue;
  border-radius: 12px 0 0 12px;
  padding-right: 4px;
}

#memory {
  color: @green;
  border-radius: 0;
  padding-right: 4px;
}

#battery {
  color: @maroon;
  border-radius: 0;
  padding-right: 4px;
}

#pulseaudio {
  color: @peach;
  border-radius: 0 12px 12px 0;
  margin-right: 13px;
}

#custom-notification {
  font-size: 18px;
  margin-right: 13px;
}

#custom-power {
  color: @red;
  font-size: 18px;
  margin-right: 17px;
}

#custom-exit,
#custom-lock,
#custom-suspend,
#custom-hibernate,
#custom-reboot {
  font-size: 18px;
  margin-right: 8px;
}
